*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 80px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.flex{
    display: flex;
}

.nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-sx ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.nav-dx ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-sx a{
    display: inline-block;
    padding: 10px 25px;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
.nav-dx a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.nav-dx .inizia{
    padding: 7px 18px;
    background-color: #0062FF;
    color: white;
}

main{
    
    margin-top: 80px;
}

.jumbotron{
    background-color:#B5D0E7;
    padding-top: 100px;
}


h1{
    font-size: 4.8rem;
    font-weight: 800;
}

.jumbo-box{
    margin: 0 auto;
    flex-wrap: wrap;
    width: 65%;
    align-items: flex-start;
}

.text-jumbo{
    width: 30%;
    padding-top: 50px;
    
}

.jumbo-box p{
    font-weight: 400;
    padding-bottom: 45px;
}

.img-jumbo{
    
    width: 70%;
    position: relative;
}

.img-jumbo img{
    padding-top: 50px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.prova-text{
   
    padding-bottom: 45px;
}

.prova-text a{
    background-color: #0062FF;
    color: white;
    padding: 10px 20px;
}

.arrow a{
    font-size: 3.8rem;
    color: black;
    
}

.abbonamenti{
    margin-top: 200px;
}

.abbonamenti-box{
    margin: 0 auto;
    width: 55%;
    
}

.business{
    font-size: 2.5rem;
    
}

.checkbox1{
    padding-top: 70px;
}

.checkbox-rotondo{
    width: 1.4em;
    height: 1.4em;
}

.text-checkbox{
    padding-left: 5px;
    padding-right: 40px;
    font-weight: 400;
}

.piani-vert{
    justify-content: space-between;
    padding-top: 70px;
}

.colonna-vert{
    width: 30%;
    height: 975px;
    border: 2px solid #DBDBDE;
    
}

.colonna-vert .singolo, .colonna-vert .team, .colonna-vert .azienda, .piano-orizz .team1{
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #DBDBDE;
    text-align: center;
    margin-top: 10px;
}

.colonna-vert i{
    padding-right: 5px;
    
}

.colonna-vert p{
    font-size: 0.9rem;
}

.colonna-vert .professional{
    margin: 40px 30px;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.euro{
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 0.9rem;
}

.mensilita{
    color: #676767;
    margin-bottom: 40px;
    font-size: 0.9rem;
}

.lista-top{
    margin-bottom: 40px;
}

.lista{
    margin-bottom: 20px;
}

.lista .fa-check{
    color: #0062FF;
}

.prova-gratis{
    background-color: #0062FF;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 12px 5px;
}

.oppure{
    margin-bottom: 40px;
}

.oppure a:visited{
    color: #602993;
}

.hr-colonna{
    max-width: 50px;
    margin-bottom: 40px;
    color: #DBDBDE;
}

h5{
    margin-bottom: 30px;
}

.piano-orizz{
    border: 2px solid #DBDBDE;
    width: 100%;
    height: 260px;
    margin-top: 40px;
    margin-bottom: 150px;
}



.contatto-box{
    height: 515px;
    width: 55%;
    margin: 0 auto;
}

.contatto-img{
    width: 60%;
}

.contatto-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contatto-text{
    width: 40%;
    margin: 60px 0px 80px 50px;
}

.partner-btn{
    color: black;
    border: 2px solid grey;
    align-items: center;
    width: 42%;
    margin-top: 30px;
    padding: 12px 15px;
}

.operazioni{
    margin: 0 auto;
    width: 55%;

}

.operation{
    font-size: 2.5rem;
    margin-top: 140px;
}

.operation-cards{
    align-content: space-around;
    flex-wrap: wrap;
    height: 1000px;
    width: 100%;
    margin-top: 45px;
}

.cards{
    width: 33.33%;
    height: 470px;
}

.cards-img img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.dropbox-business{
    width: 55%;
    margin: 0 auto;
}


.business-h2{
    font-size: 2.5rem;
    margin-top: 200px;
    margin-bottom: 70px;
    
}

.scopri{
    text-decoration: underline;
}

.blocchi-colorati{
    width: 100%;
    margin-top: 150px;
}

.macro-blocco{
    width: 100%;
    height: 620px;
}

.macro-blocco .blocco-sx,.macro-blocco  .blocco-centro,.macro-blocco .blocco-dx{
    width: calc(100vw/3);
    height: 100%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
}

.blocco-sx .square,.blocco-dx .square{
    width: 50%;
    height: 50%;
    aspect-ratio: 1/1;
}

.square img{
    width: 50%;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.square{
    justify-content: center;
    align-items: center;
}


.active-box{
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: #A2D39B;
}

.designit-sx{
    background-color: #D1E8CC;
}

.asu{
    background-color: #62072B;
}

.uf{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1D1C;
}

.wbr{
    background-color: #D4031F;
}

.hearst{
    background-color: #B4CFE6;
}

.lonely{
    background-color: #0E2481;
}

.clear{
    background-color: #FFD831;
}

.blocco-centro{
    background-color: #F5F5F5;
}

.centro-container{
    margin: 45px;
    overflow: auto;
}

.centro-container img{
    width: 50%;
}

.hr-centro{
    max-width: 100px;
    color: #DFDFDF;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-designit-top{
    margin-bottom: 50px;
}

.banner-porta{
    height: 360px;
    background-color: #B4D0E7;
}

.container-porta{
    margin: 0 auto;
    width: 55%;
    height: 100%;
}

.porta-sx{
    width: 70%;
    align-items: center;
}

.porta-sx h2{
    font-size: 2.5rem;
    color: #62072B;
    font-weight: 700;
}

.porta-dx{
    width: 30%;
    justify-content: center;
    align-items: center;
}

.prova-gratuita{
    color: black;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 50px;
}