*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
    
}
*/
header{
    height: 80px;
    background-color: greenyellow;
    position: fixed;
    width: 100%;
    top: 0;
}

.flex{
    display: flex;
}

.nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-sx ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.nav-dx ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}

.inizia{
    background-color: #0062FF;
    color: white;
}

main{
    overflow: auto;
    margin-top: 100px;
}