*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 80px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.flex{
    display: flex;
}

.nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-sx ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.nav-dx ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-sx a{
    display: inline-block;
    padding: 10px 25px;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
.nav-dx a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.nav-dx .inizia{
    padding: 7px 18px;
    background-color: #0062FF;
    color: white;
}

main{
    
    margin-top: 80px;
}

.jumbotron{
    background-color:#B5D0E7;
}

.jumbo-title{
    
}

h1{
    font-size: 4.8rem;
    font-weight: 800;
}

.jumbo-box{
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
    align-items: flex-start;
}

.text-jumbo{
    width: 30%;
    
}

p{
    font-weight: 400;
}

.img-jumbo{
    width: 70%;
    position: relative;
}

.img-jumbo img{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


